*{
    margin: 0;
    padding: 0;
}

body{
    background-image: url(images/wallpaper.jpg);
    height:100vh;
    background-position: center;
    background-size: cover;
}


.main-nav{
    float: right;
    list-style: none;
    margin-top: cover;
}

.main-nav li{
    display: inline-block;
    margin-top: 10px;
}

.main-nav li a{
    color: white;
    text-decoration: none;
    padding: 5px 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.main-nav li.active a{
    border: 1px solid white;
}

.main-nav li a:hover{
    border: 1px solid darkgray;
}

.logo{

    color: white;
    font-family: Brush Script MT, Brush Script Std, cursive;
    width: 50px;
    height: auto;
    float: left;
    margin-top: 5px;
}

.catch-phrase{
    
    color:black;
    font-family: Brush Script MT, cursive;
    width: 50px;
    float: left;
    margin-top: 36px;
    margin-left: 70px;
}

body{
    font-family: monospace;
}

.row{
    max-width:1200px;
    margin:auto;
}

.hero{
    position: absolute;
    margin: auto;
    
}

h3{
    font-family: 'Times New Roman', Times, serif;
    color: white;
    text-transform: uppercase;
    font-size: 70px;
    text-align: center;
    margin-top: 275px;
}

.button{
    margin-top: 30px;
    margin-left: 440px;
}

.btn{
    border: 1px solid white;
    padding: 10px 30px;
    color: white;
    text-decoration: none;
    margin-right: 5px;
    font-size: 13px;
    text-transform: uppercase;
}

.btn-one{
    background-color: darkorange;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-two{
    font-family:  -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.btn-two:hover{

    background-color:darkorange;
    transition: all 0.5s ease ease-in;


}


.box-1{

    margin: 70px;

}


